body {
    background-image: url(./img/pexels-jplenio-1103970.jpg);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 5rem;
}

.header {
    display: flex;
    gap: 0rem;
}

.header .img-sec img {
    max-width: 300px;
    max-height: 391px;
}

.header .card {
    background-color: white;
    max-width: 810px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 33px;
    text-wrap: wrap;
    padding: 1rem;
    gap: 3.5rem;
}

.header .card h1 {
    font-family: 'Playfair Display';
    align-self: center;
    font-weight: lighter;
}

.header .card p {
    color: grey;
}

.header .card .icons {
    font-size: 1.8rem;
    margin-bottom: 5px;
    display: flex;
    gap: 10px;
    align-self: flex-end;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 1100px;
}

.hero h1 {
    font-family: 'Playfair Display';
    align-items: flex-start;
}

.hero .first-row,
.hero .second-row  {
    display: flex;
    gap: 5rem;
}

.hero .first-row .card,
.hero .second-row .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.hero .first-row .card img,
.hero .second-row .card img {
    width: 340px;
    height: 250px;
}

.hero .first-row .card .text p,
.hero .second-row .card .text p {
    text-align: center;
    color: gray;
}

.hero .first-row .card .head-row,
.hero .second-row .card .head-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.hero .first-row .card .head-row h3,
.hero .first-row .card .head-row h3 {
    font-family: 'Playfair Display';
}

.hero .first-row .card .head-row .icons,
.hero .first-row .card .head-row .icons {
    font-size: 1.5rem;
    display: flex;
    gap: 1.5rem;
}