body {
    background-image: url(./img/pexels-jplenio-1103970.jpg);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.card {
    transition: transform ease-in .5s;
}

.card:hover {
    transform: scale(1.1);
}

.icons {
    font-size: 2rem;
}

.icons i {
    transition: transform ease-in .5s;
}

.icons i:hover {
    transform: scale(1.5);
}

.container {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 5rem;
}

.header {
    display: flex;
    gap: 0rem;
    max-width: 1287px;
}

.header .img-sec img {
    max-width: 300px;
    max-height: 391px;
}

.header .card {
    background-color: white;
    max-width: 810px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 33px;
    text-wrap: wrap;
    padding: 1rem;
    gap: 3.5rem;
}

.header .card h1 {
    font-family: 'Playfair Display';
    align-self: center;
    font-weight: lighter;
}

.header .card p {
    color: grey;
}

.header .card .icons {
    font-size: 1.8rem;
    margin-bottom: 5px;
    display: flex;
    gap: 10px;
    align-self: flex-end;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 1287px;
}

.hero h1 {
    font-family: 'Playfair Display';
    align-items: flex-start;
}

.hero .first-row,
.hero .second-row  {
    display: flex;
    flex: 50%;
    flex-flow: row;
    gap: 5rem;
}

.hero .first-row .card,
.hero .second-row .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    max-width: 375.6px;
    max-height: 382.4px;
}

.hero .first-row .card img,
.hero .second-row .card img {
    width: 375.6px;
    height: 250px;
}

.hero .first-row .card .text p,
.hero .second-row .card .text p {
    text-align: center;
    color: gray;
}

.hero .first-row .card .head-row,
.hero .second-row .card .head-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.hero .first-row .card .head-row h3,
.hero .first-row .card .head-row h3 {
    font-family: 'Playfair Display';
}

.hero .first-row .card .head-row .icons,
.hero .first-row .card .head-row .icons {
    font-size: 1.5rem;
    display: flex;
    gap: 1.5rem;
}

.footer {
    display: flex;
    max-width: 1100px;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
}

.footer img {
    width: 300px;
    height: 380px;
}

.footer .text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer .text .icons {
    display: flex;
    font-size: 2rem;
    gap: 1.5rem;
}

.footer .text h1 {
    font-family: 'Playfair Display';
}

@media (max-width: 810px)   {
    .header .card {
        gap: 2rem;
    }

    .hero h1 {
        text-align: center;
    }

    .hero .first-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero .second-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer {
        gap: 0.5rem;
        text-wrap:  wrap;
    }

    .footer h1 {
        text-align: center;
    }
}

@media (max-width: 500px) {

    .container {
        gap: 1rem;
    }

    .header {
        flex-direction: column;
        align-items: center;
        gap: -1rem;
    }

    .header .card {
        background-color: transparent;
        gap: 2rem;
        padding: 0.5rem;
    }

    .header .card p {
        color: black;
        margin: 0;
    }

    .hero h3 {
        text-align: center;
    }

    .hero {

    }

    .hero .first-row,
    .herp .second-row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .footer .text {
        gap: 2rem;
        text-align: center;
    }

    .footer .text .icons {
        align-self: center;
    }

    .footer .text h1 {
        text-align: center;
    }
}